{
  "plugins": [
    "react-hooks"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "./node_modules/eslint-config-react-app/index.js",
    "eslint:recommended",
    "react-app",
    "eslint-config-prettier"
  ],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "eol-last": "error",
    "eqeqeq": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "key-spacing": ["error", { "afterColon": true }],
    "max-len": ["error", 150, 4, {"ignoreUrls": true}],
    "no-multiple-empty-lines": ["error", {"max": 2}],
    "no-trailing-spaces": ["error", { "skipBlankLines": false}],
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "no-var": "off",
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "semi": "off",
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never"
    }],
    "space-infix-ops": ["error", {"int32Hint": false}],
    "strict": ["error", "global"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": 2
  },
  "overrides": [
    {
      "files": [ "*.spec.js", "*.test.js" ],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
