<!DOCTYPE html>
<html>
<head>
    <title>Dot Game</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="dot-app">
    <div id="controls">
      <div id="score"></div>
      <div id="game-btn" class="start">Start</div>
      <div id="slider">
        <input id="speed" type="range" min="10" max="100" value="1" />
        <div id="speed-label"></div>
      </div>
    </div>
    <div id="playground"></div>
  </div>
  <script src="/helper.js"></script>
  <script src="/index.js"></script>
</body>
</html>
